# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/.pnp
.pnp.js

/318-Boread Ape/318-Boread Ape/node_modules

# testing
/coverage

# production
/build

